@model NewsPortal.Models.News

@{
    ViewData["Title"] = "Удаление новости";
}


<h3>Вы действительно хотите удалить эту статью?</h3>
<div>
    <hr />
    <div class="container" style="border-radius: 5px;">

        <div class="row" style="background-color:#effdff; border-radius:3px;">
            <br />
            <div class=" col-xs-12 col-sm-12">
                <p style="margin-bottom:0;"><strong>@(Model.CreatedByIdNavigation != null ? Model.CreatedByIdNavigation.UserName : "Удаленный автор")</strong></p>
                <div class="personal-sm">
                    <small style="font-size:15px; color:#777;"><img src="~/images/watch.png" width="15" />создано @Model.CreatedDateTime</small>
                </div>
                @if (Model.ChangedDateTime != null)
                {
                    <div class="personal-sm">
                        <small style="font-size:15px; color:#777;"><img src="~/images/watch.png" width="15" />изменено  @Model.ChangedDateTime</small>
                    </div>
                }
                <div class="lead">@Model.Title</div>
                @if (Model.Body.Length > 200)
                {
                    <p id="short-@Model.Id" class="lead" style="overflow:auto;">@Model.ShortBody <a style="cursor:pointer;" onclick="document.getElementById('@Model.Id').style.display='block';document.getElementById('short-@Model.Id').style.display='none';">читать полностью</a> </p>
                    <p id="@Model.Id" class="lead" style="overflow:auto; display:none;">@Model.Body </p>
                }
                else
                {
                    <p class="lead">@Model.ShortBody</p>
                }
            </div>

        </div>
    </div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
